<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Drivers" value="..\Drivers\Microsoft\"/>
    <add key="ChromeDriverPort" value="9515"/>
    <add key="IeDriverPort" value="5555"/>
    <!-- Values: FIREFOX, CHROME, IE -->
    <add key="eCampusPlusEngine_Browser" value="CHROME"/>
    <add key="eCampusPlusEngine_OS" value="WINDOWS"/>
    <add key="PagesAccessibilityDataPath" value="Pages\PagesAccessibilityData.json"/>
  </appSettings>
</configuration>